# API Configuration
VITE_API_URL=https://wlcg1ndgf6.execute-api.ap-south-1.amazonaws.com/dev

# Cognito Configuration
VITE_COGNITO_USER_POOL_ID=ap-south-1_5ZqL46iYr
VITE_COGNITO_CLIENT_ID=6gesuhbcucqkb59hslt0bdv3a7
VITE_AWS_REGION=ap-south-1